@import "tailwindcss";

/* This tells Tailwind v4 to look for the .dark class on the <html> tag */
@custom-variant dark (&:where(.dark, .dark *));
/* Smooth Scroll for the whole page */
html {
  scroll-behavior: smooth;
}
:root {
  --primary-accent: #2563eb;
}
